In [1]:
#Variables
roll_no = 44
name = "Pranav"
is_student = True
print(f"Name: {name}\nRoll No.: {roll_no}\n")

Name: Pranav
Roll No.: 44

In [20]:
#Arithmetic operations
a = 10
b = 20
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b
print(f"Addition: {c}\nSubtraction: {d}\nMultiplication: {e}\nDivision: {f}\nModulo: {g}")

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulo: 10

In [9]:
#Loops
list = [1,2,3,4,5]
for i in list:
    print(i)
i = 6
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [31]:
#String manipulation
str1 = "Good"
str2 = "Morning"
conc = str1 + " " + str2
print(conc)
print(conc.lower())
print(conc * 3)
conc.replace("Morning" , "Afternoon")

Good Morning
good morning
Good MorningGood MorningGood Morning

'Good Afternoon'

In [38]:
#Conditional statements
a=10
if a % 2 == 0:
    if a % 5 == 0:
        print("a is even and divisible by 5")
    else:
        print("a is even")
else:
    if a % 5 == 0:
        print("a is odd and divisible by 5")
    else:
        print("a is odd")

a is even and divisible by 5

In [11]:
#Function
def getInfo(name):
    return "Student Name: " + name
name = "Pranav"
print(getInfo(name))

Student Name: Pranav

In [43]:
#Lists
my_list = [1,2,3,4,5]
my_list.insert(5,6)
print(my_list)
my_list.remove(4)
print(my_list)
my_list[4] = "Hello"
my_list.append("Everyone")
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]
[1, 2, 3, 5, 'Hello', 'Everyone']

In [14]:
#Dictionaries
dict = {"name" : "Pranav", "rollno" : 44, "age" : 20, "city" : "Kolhapur"}
print(dict)
del dict["rollno"]
dict["Language"] = "English"
dict["age"] = 21
print(dict)

{'name': 'Pranav', 'rollno': 44, 'age': 20, 'city': 'Kolhapur'}
{'name': 'Pranav', 'age': 21, 'city': 'Kolhapur', 'Language': 'English'}

In [18]:
#Tuples
tuple = (1,2,4)
print(tuple)
num = 3
tuple = tuple[:2] + (num,) + tuple[2:]
tuple = tuple[:3]
print(tuple)
num = 0 
tuple = (num,) + tuple[1:]
print(tuple)

(1, 2, 4)
(1, 2, 3)
(0, 2, 3)